[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
[submodule ".bash_it"]
	path = .bash_it
	url = git@github.com:Bash-it/bash-it.git
[submodule ".vim/bundle-available/nerdcommenter"]
	path = .vim/bundle-available/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule ".vim/bundle-available/nerdtree"]
	path = .vim/bundle-available/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule ".alacritty/themes"]
	path = .alacritty/themes
	url = git@github.com:alacritty/alacritty-theme.git
[submodule ".pyenv"]
	path = .pyenv
	url = git@github.com:pyenv/pyenv.git
