[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule ".bash_it"]
	path = .bash_it
	url = https://github.com/Bash-it/bash-it.git
[submodule ".vim/bundle-available/nerdcommenter"]
	path = .vim/bundle-available/nerdcommenter
	url = https://github.com/preservim/nerdcommenter.git
[submodule ".vim/bundle-available/nerdtree"]
	path = .vim/bundle-available/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".alacritty/themes"]
	path = .alacritty/themes
	url = https://github.com/alacritty/alacritty-theme.git
[submodule ".pyenv"]
	path = .pyenv
	url = https://github.com/pyenv/pyenv.git
