[diff]
    color = True
[merge]
    tool = meld
[pull]
    ff = only
[user]
	email = spauka@gmail.com
	name = Sebastian Pauka
[core]
	excludesfile = ~/.gitignore_usr
	symlinks = true
[url "https://"]
	insteadOf = git://
[push]
	default = matching
