[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
[submodule ".bash_it"]
	path = .bash_it
	url = git@github.com:Bash-it/bash-it.git
[submodule ".vim/bundle-available/nerdcommenter"]
	path = .vim/bundle-available/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
