set mark-symlinked-directories on
set editing-mode vi

set blink-matching-paren on

"\C-l": clear-screen
"\e[1~": beginning-of-line
"\e[2~": quoted-insert
"\e[3~": vi-delete
"\e[4~": end-of-line
"\e[5~": beginning-of-history
"\e[6~": end-of-history
"\eOF": end-of-line      
"\eOH": beginning-of-line
